/** 常用样式**/

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.darkInput .el-input__inner, .el-textarea__inner {
  background-color: #101010;
  border-color: #4f4f4f;
  color: #fff;
}

.customForm .el-form-item__label {
  color: #fff;
  font-weight: normal;
}

.darkTable .el-table__body-wrapper, .el-table__body, .el-table__row, .el-table__column, .el-table th, .el-table tr, .el-table__row, .el-table__cell {
  background-color: #232323;
  color: #fff;
  border-color: #4f4f4f !important;
}
.darkTable.el-table.el-table--border .el-table__header-wrapper .el-table__header .has-gutter tr th{
  background-color: #3C3C3C !important;
}

.darkTable.el-table--border {
  border-color: #4f4f4f !important;
}

.darkTable::before {
  background-color: #4f4f4f !important;
}

.darkTable::after {
  background-color: #4f4f4f !important;
}
.darkTable.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
  border-color: #4f4f4f !important;
}

.hoverPointer {
  cursor: pointer;
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mt10 {
  margin-top: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}

.pd16 {
  padding: 16px;
}

/*定义滚动条高宽及背景高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width:8px;			 // 纵向滚动条生效
height:16px;		// 横向滚动条生效
background-color: #000926;		// 待确认
border-radius: 10px;
}
/*定义滚动条轨道内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0.3);
  border-radius: 10px;
  background-color: #ffffff;
}
/*定义滑块内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #a6a9ad;
}

.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}
