/** 常用样式**/

.flexBetween{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flexEnd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnStart{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.darkInput .el-input__inner{
  background-color: #2c2c2c;
  color: #fff;
}
.hoverPointer{
  cursor: pointer;
}
